.homeContainer {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  padding-left: 5em;
  justify-self: center;
  padding-bottom: 2em;
  position: static;
  background-image: url("space.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.homeTextContainer {
  align-self: center;
  margin-bottom: 10em;
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  animation: slide-in 1s forwards;
  -webkit-animation: slide-in 1s forwards;
}

.homeText {
  justify-content: center;
  font-size: 5em;
  min-width: 0;
  margin-bottom: 0px;
  color: white;
  font-family: "Secular One", sans-serif;
}

.homeTextDetail {
  font-size: 1em;
  text-align: justify;
  color: white;
  width: 60%;
  font-family: "Mochiy Pop P One", sans-serif;
}

.homeImageContainer {
  margin-top: 2em;
  justify-self: flex-end;
  justify-content: flex-end;
  height: fit-content;
  min-width: 0;
  width: 50%;
  display: flex;
  padding-right: 10em;
}

.homeImg {
  height: 80%;
  width: 80%;
  min-width: 0;
}

@media screen and (max-width: 780px) {
  .homeContainer {
    padding-left: 1em;
  }

  .homeTextContainer {
    /* width: auto; */
  }

  .homeText {
    font-size: 3em;
  }

  .homeImg {
    display: none;
  }
}

@keyframes slide-in {
  100% {
    transform: translateX(0%);
  }
}

@-webkit-keyframes slide-in {
  100% {
    -webkit-transform: translateX(0%);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .homeImg {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform-origin: 50% 50%;
    transform: rotate(0deg);
  }
  to {
    transform-origin: 50% 50%;
    transform: rotate(360deg);
  }
}
