.cardsContainer {
  display: flex;
  padding-right: 10em;
  padding-left: 10em;
  flex-wrap: wrap;
}

.cardContainer {
  margin: 1em;
  flex: 1 1 20em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 1em;
  padding-top: 1em;
  padding-bottom: 2em;
  height: 12em;
  text-decoration: none;
  color: black;
  background-color: white;
  overflow: hidden;
}

.cardContainer:hover {
  transition: 0.2s ease-in-out;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2);
  color: rgb(81, 123, 187);
}

.cardImg {
  flex: 1 1 33%;
  margin: auto;
  width: 50px;
  height: 50px;
  margin-bottom: 0%;
  border-radius: 5em;
}

.cardTitle {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.cardText {
  flex: 1 1 33%;
  margin: auto;
  width: 80%;
  height: fit-content;
  text-align: center;
}

.serviceCardSectionContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: cadetblue;
  justify-content: center;
}

.service-section-title {
  width: 100%;
  text-align: center;
  text-justify: center;
}

.carousel-container {
  display: flex;
  align-content: flex-start;
  align-self: center;
  justify-self: center;
  width: 100%;
  padding-top: 1em;
  padding-bottom: 3em;
}

.image-figure {
  margin: auto;
}

.image-figcaption {
  margin: auto;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
}

.carousel-item {
  transform: scale(1);
}

@media screen and (max-width: 1024px) {
  .cardTitle {
    font-size: medium;
  }
  .cardContainer {
    padding-top: 3em;
    padding-bottom: 3em;
  }
}

@media screen and (max-width: 480px) {
  .cardTitle {
    font-size: medium;
  }
  .cardContainer {
    padding-top: 2em;
    padding-bottom: 3em;
  }
}
