.main-container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100vh;
}

section {
  height: 100vh;
  scroll-snap-align: start;
  display: flex;
  /* align-content: center;
  justify-content: center;
  align-items: center; */
  overflow: hidden;
}

.internal-div {
  align-self: center;
  border: 1px solid rgb(187, 5, 5);
}

/* .footer-contact-container {
  display: flex;
  flex-direction: column;
  padding-top: 5em;
  padding-bottom: ;
} */
